My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -944,
        224
      ],
      "id": "e96e3704-21b4-4d94-bc6a-47a2911d4f9d",
      "name": "Telegram Trigger",
      "webhookId": "d3d95f59-6fd2-4f41-bf06-02eea67b4d47",
      "credentials": {
        "telegramApi": {
          "id": "5iLOUSQ4ljut7gAh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://10.19.108.227/{{ $json.command }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        80
      ],
      "id": "f05c303d-55ac-455a-94da-57a9b70a9391",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17R4QlkLJlCRNj--_MAe41dbvu6Fv7u4otzBoWyJOoUI",
          "mode": "list",
          "cachedResultName": "Device Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17R4QlkLJlCRNj--_MAe41dbvu6Fv7u4otzBoWyJOoUI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17R4QlkLJlCRNj--_MAe41dbvu6Fv7u4otzBoWyJOoUI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ $('HTTP Request').item.json.relayState }}",
            "Command": "={{ $('Code').item.json.rawCommand }}",
            "Timestamp": "={{ $json.currentDate }}",
            "USER": "={{ $('Code').item.json.userName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "USER",
              "displayName": "USER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Command",
              "displayName": "Command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        80
      ],
      "id": "2738db3f-eeec-46b3-acb4-eba41f3fa3dc",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8YGSAsDujp9zeGpS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "timezone": "Asia/Kolkata"
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        576,
        80
      ],
      "id": "9a1c7c54-39dd-4b3b-b59c-19ea89ea6d9a",
      "name": "Date & Time",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=Device is already {{ $json.relayState }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        304
      ],
      "id": "d5be18d5-4f70-4451-bc1c-d4de751048d9",
      "name": "Send a text message1",
      "webhookId": "ddb9406b-f34a-4e91-9c28-bf4fe24b8850",
      "credentials": {
        "telegramApi": {
          "id": "5iLOUSQ4ljut7gAh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allInputs = $input.all();\n\n// Get Telegram input (raw)\nconst telegramInputRaw = allInputs[0].json.message.text; // original user text\nconst telegramInput = telegramInputRaw.toLowerCase();\nconst lastState = allInputs[1].json.lastStatus.toLowerCase();\n\n// Phrase definitions\nconst onPhrases = [\"switch on\", \"light on\", \"activate\", \"start\", \"on\"];\nconst offPhrases = [\"switch off\", \"light off\", \"deactivate\", \"stop\", \"off\"];\nconst statePhrases = [\"status\", \"state\", \"current\", \"condition\", \"running\"];\nlet command = \"STATUS\"; // default\n\n// Determine normalized command\nif (onPhrases.some(p => telegramInput.includes(p))) {\n    command = lastState === \"on\" ? \"ALREADY_ON\" : \"on\";\n} else if (offPhrases.some(p => telegramInput.includes(p))) {\n    command = lastState === \"off\" ? \"ALREADY_OFF\" : \"off\";\n} else if (statePhrases.some(p => telegramInput.includes(p))) {\n    command = \"STATUS\"; // user asked current state\n}\n\n// Extract Telegram user details\nconst user = allInputs[0].json.message.from;\nconst userName = user.username \n    ? `@${user.username}` \n    : `${user.first_name || \"\"} ${user.last_name || \"\"}`.trim();\n\nreturn {\n    chatId: allInputs[0].json.message.chat.id, // for Telegram reply\n    userName,   // telegram username or full name\n    rawCommand: telegramInputRaw, // what user actually typed\n    command,    // interpreted result: \"on\", \"off\", \"ALREADY_ON\", \"ALREADY_OFF\", or \"STATUS\"\n    relayState: lastState\n};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        240
      ],
      "id": "e65c9eb3-1b74-4a3b-ba7b-dd76419fd44d",
      "name": "Code",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a8353129-3560-4ef7-aac3-11bb5d602136",
              "leftValue": "={{ $json.command }}",
              "rightValue": "on",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "5f828d90-144f-425b-8b4e-d023d49c884a",
              "leftValue": "={{ $json.command }}",
              "rightValue": "off",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        96
      ],
      "id": "a5d2b26f-3aa6-4da2-96e8-9bb04b664c38",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const allRows = $input.all(); // array of all input items\n\nif (allRows.length === 0) return [];\n\nconst lastRow = allRows[allRows.length - 1].json; // last item’s json\n\nreturn [{\n    lastStatus: lastRow.Status,\n    timestamp: lastRow.Timestamp,\n    row_number: lastRow.row_number,\n    command: lastRow.Command\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        432
      ],
      "id": "f572f525-1af2-4475-8ea8-5f3e03a24cd2",
      "name": "Code1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17R4QlkLJlCRNj--_MAe41dbvu6Fv7u4otzBoWyJOoUI",
          "mode": "list",
          "cachedResultName": "Device Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17R4QlkLJlCRNj--_MAe41dbvu6Fv7u4otzBoWyJOoUI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17R4QlkLJlCRNj--_MAe41dbvu6Fv7u4otzBoWyJOoUI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -592,
        432
      ],
      "id": "430f9531-0f82-48ff-9603-809ec98cd12c",
      "name": "get row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8YGSAsDujp9zeGpS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -224,
        240
      ],
      "id": "f3885139-2663-4763-88b8-691eb070c4f7",
      "name": "Merge"
    },
    {
      "parameters": {
        "chatId": "={{ $('Code').item.json.chatId }}",
        "text": "=Device turned {{ $('HTTP Request').item.json.relayState }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        80
      ],
      "id": "c16bbd73-cd56-473f-995d-5182dbfd3b46",
      "name": "Send a text message",
      "webhookId": "668a6b2f-af8c-4a5f-b990-5227dfa33faa",
      "credentials": {
        "telegramApi": {
          "id": "5iLOUSQ4ljut7gAh",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "get row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get row": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "6e9bdd8f-a928-4f24-9eb3-122923cd701a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
  },
  "id": "8jlVJ26mNNYviBTv",
  "tags": []
}